:root {
    --black: black;
    --foreground: white;
    --background: rgb(224, 224, 224);
    --stripe: rgb(255, 200, 61);
    --playerPoints: hsl(240, 100%, 50%);
    --computerPoints: hsl(0, 100%, 50%);
    --silver: silver;
    --grey: grey;
    --playAgainButton: hsl(120, 50%, 50%);
}

html,
body,
#wrapper,
#main {
    height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    margin: 0px;
    font-family: Inconsolata;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}

#title {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--stripe);
}

h1 {
    font-size: 32px;
    font-weight: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    background-color: var(--foreground);
    margin: auto;
    width: 100%;
    max-width: 544px;
    padding-bottom: 64px;
    justify-content: center;
}

#infoBox {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#versus {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
    background-color: var(--foreground);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-bottom: 44px;
    border: 1px solid var(--silver);
    border-radius: 10px;
}

#versus,
#controls {
    margin-left: 32px;
    margin-right: 32px;
}

#playerBox,
#computerBox {
    width: 100px;
}

#playerChoice,
#computerChoice,
#Rock,
#Paper,
#Scissors {
    padding-bottom: 12px;
    /* adds space to emoji on windows os */
}

#playerChoice,
#computerChoice {
    display: flex;
    flex: 1;
    justify-content: center;
}

.showPunch {
    animation: punch 0.5s;
}

@keyframes punch {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

.showGrow {
    animation: grow 0.5s;
}

@keyframes grow {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

#playerPoints,
#computerPoints {
    display: flex;
    flex: 1;
    justify-content: center;
}

#playerPoints {
    color: var(--playerPoints);
}

#computerPoints {
    color: var(--computerPoints);
}

#controls {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

#playerChoice,
#computerChoice,
#Rock,
#Paper,
#Scissors {
    font-size: 64px;
}

#Rock,
#Paper,
#Scissors {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 0px solid var(--black);
    max-width: 100px;
    border-radius: 10px;
    outline: 1px solid var(--black);
    background-color: var(--silver);
    transition: background-color 0.5s;
    overflow: hidden;
    aspect-ratio: 1/1;

}

#Rock:hover,
#Paper:hover,
#Scissors:hover {
    cursor: pointer;
    background-color: var(--grey);
}

#endOverlay {
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.showOverlay {
    display: block !important;
    animation: appear 1s forwards;
}

.hideOverlay {
    display: block !important;
    animation: disappear 1s forwards;
}

#endBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--foreground);
    border: 1px solid var(--silver);
    width: 128px;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 32px 64px;
}

.showFade {
    animation: fadein 1s forwards;
}

.hideFade {
    animation: fadeout 1s forwards;
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
        visibility: hidden;
    }

    to {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        visibility: visible;
    }
}

@keyframes disappear {
    from {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        visibility: visible;
    }

    to {
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
        visibility: hidden;
    }
}

#whoWon {
    margin-bottom: 16px;
}

#playAgain {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 0px solid var(--black);
    color: var(--playAgainButton);
    font-size: inherit;
    font-family: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: 1px solid var(--playAgainButton);
    background-color: var(--foreground);
    padding: 8px 24px;
    transition: color 0.5s;
}

#playAgain:hover {
    color: var(--black);
}

#footer {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--silver);
    padding: 10px 0 10px 0;
}

.fa-github {
    color: var(--black);
    opacity: 75%;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    opacity: 100%;
    transform: rotate(360deg) scale(1.2);
}

@media only screen and (max-height: 580px) {

    html,
    body,
    .main {
        height: auto;
    }
}

@media only screen and (max-width: 512px) {

    #versus,
    #controls {
        margin-left: 16px;
        margin-right: 16px;
    }
}