html {
    position: relative;
    min-height: 100%;
    /* height: 100%; */
    
    
}

body {
    background-color: white;
    margin: 0px;
    font-family: Inconsolata;
    font-size: 16px;
    
   
}

#container {
    display: flex;
   flex-direction: column;
    margin: auto;
    max-width: 768px;

 margin-bottom: 60px;

   
   
 
    
}

#title {
    font-size: 29px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background: grey;
}

/*  */

#versus{
    display: flex;
    justify-content: space-evenly;
}

#player, #vs, #computer{
    display: flex;
    flex: 1;
    aspect-ratio: 1/1;
   justify-content: center; 
   align-items: center;
   /* max-width: 100px; */
   flex-direction: column
}

#player { background-color: blue; color:white;} 

#vs{ background-color: green; color:white;
flex-direction: column;} 

#computer {
    background-color: red; color:white;
}

#controls {
    display: flex; 
    justify-content: space-between;
   
}

#Rock, #Paper, #Scissors {
    display: flex;
    flex: 1;
    aspect-ratio: 1/1;
    border: 0px solid black;
    justify-content: center; 
    align-items: center;

    font-size: 96px;

/* max-width: 100px; */
    /* border-radius: 10px;
    outline: 0px solid black; */
    /* overflow: hidden; */
   
}

#Rock { background-color: cyan;} 
#Paper{ background-color: magenta;} 
#Scissors {background-color: yellow; }


/* #Rock > span, #Paper > span, #Scissors > span{
    margin:auto;
    padding-bottom: 10px;
    
} */




#endOverlay{
background-color: rgba(0,0,0,0.5);

/* backdrop-filter: blur(4px); */
/* transition: 2s backdrop-filter linear, 2s -webkit-filter linear; */

/* filter: grayscale(100%); */

position: absolute;


  left: 0; 
  right: 0; 
  top:0;
  bottom:0;

  display: flex;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

 
}

#endBox{
    position: relative;
    background-color:aquamarine;

    width: 240px;
    height: 240px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}







#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: grey;
}

.fa-github {
    color: black;
    opacity: 75%;
    transition: transform 0.3s ease-in-out;
    margin-left: 4px;
}

.fa-github:hover {
    opacity: 100%;
    transform: rotate(360deg) scale(1.2);
}